html {
    font-size: 16px;
}
a {
    text-decoration: none;
}
p {
    font-family: 'Roboto slab', serif;
    color: #676767;
    line-height: 1.5;
    font-size: 1.2rem;
}
h1 {
    color: var(--grey);
}
h2 {
    color: var(--green);
    font-weight: 400;
    margin-bottom: 15px;
}